.App {
  text-align: center;
  background-color: #181a1d;
  min-height: 100vh;
  margin: 0px 0px;
}

.App-header {
  background-color: #1e2128;
  padding-top: 0px;
  margin: 0px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

h1, h2{
  margin: 0em 0em 0.5em 0em;
}
